<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletBodega</servlet-name>
        <servlet-class>Controlador.ServletBodega</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEmpleado</servlet-name>
        <servlet-class>Controlador.ServletEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Demo</servlet-name>
        <servlet-class>Controlador.Demo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletBodega</servlet-name>
        <url-pattern>/ServletBodega</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletInsumo</servlet-name>
        <servlet-class>Controlador.ServletInsumo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletInsumo</servlet-name>
        <url-pattern>/ServletInsumo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>Controlador.ServletLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletPedCocina</servlet-name>
        <servlet-class>Controlador.ServletPedCocina</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletPedCocina</servlet-name>
        <url-pattern>/ServletPedCocina</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletPedComensal</servlet-name>
        <servlet-class>Controlador.ServletPedComensal</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletPedComensal</servlet-name>
        <url-pattern>/ServletPedComensal</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletPedProv</servlet-name>
        <servlet-class>Controlador.ServletPedProv</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletPedProv</servlet-name>
        <url-pattern>/ServletPedProv</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletProveedor</servlet-name>
        <servlet-class>Controlador.ServletProveedor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletProveedor</servlet-name>
        <url-pattern>/ServletProveedor</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletReceta</servlet-name>
        <servlet-class>Controlador.ServletReceta</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletReceta</servlet-name>
        <url-pattern>/ServletReceta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEmpleado</servlet-name>
        <url-pattern>/ServletEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Demo</servlet-name>
        <url-pattern>/Demo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>
</web-app>
